<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="FlightDbConnection"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=FlightSearchesApp1
AttachDbFilename=D:\AIUB Fall 25-26 OOP 2\US-Bangla-Airline-Management-App\FlightSearches.mdf;
Integrated Security=True;
"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>